# **Problem Statement**

## **Task**
1. Identify all shops that are deemed to have conducted order brushing.
2. For each shop that is identified to have conducted order brushing, identify the
buyers suspected to have conducted order brushing for that shop.

For the purpose of this question, shops are deemed to have conducted order brushing if
their concentrate rate is greater than or equal to 3 at any instance

***Concentrate rate = Number of Orders within 1 hour / Number of Unique Buyers within 1 hour***

For the purpose of this question, suspicious buyers are deemed as the buyer that
contributed the highest proportion of orders to a shop that is deemed to have conducted
order brushing.
For calculation of the highest proportion of orders to a shop, only include the orders that
occured in instances when order brushing has been deemed to have taken place.
In the case where multiple users share the same highest proportion of orders for a
specific shop, all those users are deemed to be suspicious buyers.

## **Approach**

The basic idea is calculating Concentrate rate for all possible 1 hour windows. Here
illustrate the strategy:

a. Select a 1 hour window and take a slice from order data.
Note when you set the time condition, both ends are included in the 1 hour
window. (Hint: For Python, datetime module and timedelta function can be
applied)

b. Find shops which satisfy CR>=3.
For the slice of order data you select, you can use an aggregation function like
groupby to calculate order number and unique user number for each shop in this
1 hour window. And then filter shops which satisfy the CR>=3 condition. They are
brushing shops.

c. Find the userid who conducts order brushing in brushing shops.
When brushing shops are identified, aggregation function can be applied again to
calculate which userid contribute the most orders for each shop. Note if two
userid both have the highest order number, then they are both the answer.

d. Repeat the above procedure for all possible 1 hour window.
For example:

2019-12-27 00:00:00 ~ 2019-12-27 01:00:00,

2019-12-27 00:00:01 ~ 2019-12-27 01:00:01, ...

## **Note**

When you follow the above steps, you may find d step takes a long time since the time
period in our data crosses 5 days and the time window is detailed to second. To reduce
the time consumption, some advanced strategy might be applied. For example:
*   Multiprocessing to brutally calculate them all.
*   Avoid redundant calculation by detecting windows which cover exactly the same orders.

# **Code Time**

First of all, import Pandas and Datetime

In [1]:
import pandas as pd
from datetime import datetime

Initial display of the datasets

In [2]:
train = pd.read_csv('datasets/order_brush_order.csv')
train

               orderid     shopid     userid           event_time
0       31076582227611   93950878   30530270  2019-12-27 00:23:03
1       31118059853484  156423439   46057927  2019-12-27 11:54:20
2       31123355095755  173699291   67341739  2019-12-27 13:22:35
3       31122059872723   63674025  149380322  2019-12-27 13:01:00
4       31117075665123  127249066  149493217  2019-12-27 11:37:55
...                ...        ...        ...                  ...
222745  31245479170194  110868129  193218997  2019-12-28 23:17:59
222746  31230440360374   91639906    3541807  2019-12-28 19:07:20
222747  31191471145838   29391773  135908070  2019-12-28 08:17:52
222748  31198471732255   61556313   27306783  2019-12-28 10:14:31
222749  31164356713822  147941492  127484153  2019-12-28 00:45:56

[222750 rows x 4 columns]

Let's have a look on the small dataset first and convert the event_time to seconds

In [3]:
# Set 1 January 2000 as a benchmark, you are free to set any early enough benchmark
time_zero = pd.to_datetime('2000-01-01')

# Create a new column unix_time that contains the total seconds from event_time to the benchmark time
train["event_time"] = pd.to_datetime(train["event_time"]).apply(lambda x: int((x - time_zero).total_seconds()))

# Display
train.head()

          orderid     shopid     userid  event_time
0  31076582227611   93950878   30530270   630721383
1  31118059853484  156423439   46057927   630762860
2  31123355095755  173699291   67341739   630768155
3  31122059872723   63674025  149380322   630766860
4  31117075665123  127249066  149493217   630761875

We might want to sort the orders by time, so let's sort them

In [4]:
train = train.sort_values("event_time")

# Display, they're all now sorted by event_time ascending
train

               orderid     shopid     userid  event_time
150060  31075200506751    6042309   97707522   630720000
25985   31075200506752  104804492   97707522   630720000
81020   31075200506753    8715449   97707522   630720000
146598  31075201870570  190969466  170182475   630720002
80355   31075205798264    2859407   12532131   630720005
...                ...        ...        ...         ...
114113  31507183252446  149254894  193333760   631151983
206585  31507187390691  147941492   40258063   631151987
126212  31507191066628  187123853    2338306   631151991
160657  31507191066627  154074176    2338306   631151991
179881  31507196146800   31844790   95161930   631151996

[222750 rows x 4 columns]

Now, we are going to find the suspicious shops with CR >= 3, then we will decide on the suspicious buyers from the shop

Since we are going to group the dataframes by shopid, we just need to define a function that does this for a single shopid

In [5]:
def get_sus(df):
  # Reset index for easy reference since the sorting made it untidy
  df = df.reset_index(drop=True)

  # Shop ID
  id = df["shopid"].iloc[0]

  # Number of rows
  n = len(df)

  # Create new column is_sus to check whether a specific order is suspicious
  # Set initially to False
  df["is_sus"] = False

  # For any two rows in the dataframe, consider all the orders in between, inclusively
  for i in range(n):
    for j in range(i,n):
      # Given the starting point i-th order, the j-th order is more than 1 hour past it, so we just ignore this and the following order
      if df.loc[j,"event_time"] - df.loc[i,"event_time"] > 3600:
        break
      
      # Otherwise, we have to check as follows :
      # Given i-th order and j-th order are not more than 1 hour apart
      # i == 0, meaning that the 1-hour interval started before the first order
      # j == n-1, meaning that it started after the final order
      # else, the interval started between (i-1)-th and i-th order and ends between j-th and (j+1)-th order
      if i == 0 or j == n-1 or df.loc[j+1,"event_time"] - df.loc[i-1,"event_time"] > 3600:
        order_1_hour = j-i+1
        unique_buyer_1_hour = df.loc[i:j,"userid"].nunique()
        # CR >= 3
        if order_1_hour >= 3*unique_buyer_1_hour:
          df.loc[i:j,"is_sus"] = True

  # Filter out the rows that are not suspicious
  df = df[df["is_sus"]]

  # Among the suspicious buyers, store the order frequency of each user to a dictionary
  frequency_dict = df["userid"].value_counts().to_dict()
  
  # Temporary list to store the most suspicious buyer
  temp = []
  max_freq = 0

  for k,v in sorted(frequency_dict.items()):
    # Found a new maximum, renew temp and insert k
    if max_freq < v:
      max_freq = v
      temp = [k]
    # Just add k to temp
    elif max_freq == v:
      temp.append(k)

  # Double check
  temp.sort()

  # Remember that we are doing this for a single shopid. Hence, the whole content of temp is indeed the most suspicious buyers for that shop
  output = '&'.join(list(map(str,temp)))

  # Add to the final dictionary
  if not output:
    output = '0'
  final_dict[id] = output

From the previous function, we need a final dictionary to contain the final result

In [6]:
final_dict = {}

Group the dataframe by shopid then apply the get_sus function for each shopid

In [7]:
train.groupby("shopid", as_index=False).apply(get_sus)

# Display top 3, no change from previous
train.head(3)

               orderid     shopid    userid  event_time
150060  31075200506751    6042309  97707522   630720000
25985   31075200506752  104804492  97707522   630720000
81020   31075200506753    8715449  97707522   630720000

Nothing changed, but let's see what's final_dict

In [8]:
final_dict

{10009: '0',
 10051: '0',
 10061: '0',
 10084: '0',
 10100: '0',
 10107: '0',
 10108: '0',
 10110: '0',
 10132: '0',
 10133: '0',
 10151: '0',
 10153: '0',
 10155: '0',
 10159: '214988798',
 10166: '0',
 10178: '0',
 10186: '0',
 10195: '0',
 10208: '0',
 10214: '0',
 10217: '0',
 10253: '0',
 10281: '0',
 10282: '0',
 10287: '0',
 10311: '0',
 10324: '0',
 10345: '0',
 10346: '0',
 10352: '0',
 10353: '0',
 10358: '0',
 10359: '0',
 10360: '0',
 10363: '0',
 10375: '0',
 10378: '0',
 10380: '0',
 10388: '0',
 10396: '0',
 10402: '77819',
 10407: '0',
 10408: '0',
 10410: '0',
 10418: '0',
 10424: '0',
 10429: '0',
 10432: '0',
 10445: '0',
 10446: '0',
 10452: '0',
 10484: '0',
 10485: '0',
 10498: '0',
 10508: '0',
 10509: '0',
 10517: '0',
 10536: '672345',
 10546: '0',
 10555: '0',
 10556: '0',
 10557: '0',
 10563: '0',
 11518: '0',
 11608: '0',
 11613: '0',
 11671: '0',
 11722: '0',
 11752: '0',
 11918: '0',
 12568: '0',
 12581: '0',
 12713: '0',
 13238: '0',
 13405: '0',
 13511: '0',
 14710: '0',
 14962: '0',
 15478: '0',
 15624: '0',
 16034: '0',
 16107: '0',
 16415: '0',
 16666: '0',
 17124: '0',
 17145: '0',
 17147: '0',
 17532: '0',
 17696: '0',
 18204: '0',
 18604: '0',
 19061: '0',
 19190: '0',
 19288: '0',
 20659: '0',
 24526: '0',
 24910: '0',
 26133: '0',
 27649: '0',
 29464: '0',
 29583: '0',
 30826: '0',
 30957: '0',
 30996: '0',
 33480: '0',
 33896: '0',
 36283: '0',
 36536: '0',
 38259: '0',
 40095: '0',
 41764: '0',
 42472: '740844',
 42496: '0',
 42578: '0',
 42818: '170385453',
 44469: '0',
 45096: '0',
 46093: '0',
 47115: '0',
 47176: '0',
 47620: '0',
 48122: '0',
 50932: '0',
 54067: '0',
 55590: '0',
 56418: '0',
 59285: '0',
 66783: '0',
 74526: '0',
 76934: '190449497',
 77353: '0',
 79567: '0',
 80108: '0',
 80917: '0',
 82911: '0',
 84101: '0',
 85207: '0',
 85818: '0',
 85844: '0',
 89348: '0',
 89408: '0',
 89938: '0',
 94090: '0',
 94636: '0',
 94742: '0',
 100392: '0',
 100530: '0',
 108331: '0',
 108456: '0',
 109715: '0',
 123115: '0',
 123841: '0',
 126755: '0',
 131372: '0',
 137481: '0',
 138218: '0',
 140266: '0',
 141910: '0',
 146154: '0',
 147915: '0',
 148752: '0',
 150722: '0',
 152726: '0',
 154403: '0',
 162037: '0',
 163288: '0',
 169995: '0',
 170555: '0',
 175096: '0',
 177248: '0',
 177485: '0',
 178079: '0',
 182926: '0',
 182937: '0',
 183068: '0',
 183074: '0',
 185505: '0',
 188768: '0',
 192924: '0',
 193202: '0',
 195531: '214992524',
 197358: '0',
 204106: '0',
 207723: '0',
 212008: '0',
 216823: '0',
 218128: '0',
 220988: '0',
 221181: '0',
 223188: '0',
 223570: '0',
 225246: '0',
 225459: '0',
 226382: '0',
 226837: '0',
 227775: '0',
 229055: '0',
 234234: '0',
 236350: '0',
 237534: '0',
 238149: '0',
 238658: '0',
 240309: '0',
 245986: '0',
 246006: '0',
 246949: '0',
 254421: '0',
 257066: '0',
 257893: '0',
 257944: '0',
 257947: '0',
 259306: '0',
 267584: '0',
 269305: '0',
 270034: '0',
 284152: '0',
 286003: '0',
 289603: '0',
 299337: '0',
 299742: '0',
 301406: '0',
 306551: '0',
 316121: '0',
 317002: '0',
 318061: '0',
 321806: '0',
 326193: '0',
 328380: '0',
 331846: '0',
 333873: '0',
 341998: '0',
 345987: '0',
 346729: '0',
 350672: '0',
 359026: '0',
 362146: '0',
 367947: '0',
 376068: '0',
 378250: '0',
 385094: '0',
 385751: '0',
 387321: '0',
 389558: '0',
 394628: '0',
 395041: '0',
 402318: '0',
 406582: '0',
 407841: '0',
 413627: '0',
 414995: '0',
 418240: '0',
 425364: '72914921',
 439185: '0',
 441961: '0',
 443232: '0',
 452619: '0',
 454054: '0',
 454559: '0',
 473724: '0',
 485965: '0',
 501932: '0',
 504110: '0',
 506893: '0',
 506938: '0',
 508313: '0',
 508339: '0',
 522684: '0',
 533723: '0',
 533943: '0',
 535209: '0',
 538246: '0',
 547961: '0',
 554485: '0',
 567545: '0',
 571261: '0',
 577768: '0',
 592950: '0',
 599533: '264511',
 605561: '181682008',
 612396: '0',
 615407: '0',
 618063: '0',
 620638: '0',
 626540: '0',
 626847: '0',
 631546: '0',
 638464: '0',
 639650: '0',
 640689: '0',
 640697: '0',
 641249: '0',
 641804: '0',
 646840: '0',
 649202: '0',
 652019: '0',
 653280: '0',
 653621: '0',
 655338: '0',
 657962: '0',
 678608: '0',
 680693: '0',
 681607: '0',
 685263: '0',
 696058: '0',
 699714: '0',
 702892: '0',
 713011: '0',
 717700: '0',
 720651: '0',
 720918: '0',
 721619: '0',
 721647: '0',
 722132: '7670129',
 729191: '0',
 731606: '75558350',
 736620: '62618064',
 738391: '0',
 739014: '0',
 742553: '0',
 743111: '0',
 743313: '0',
 744308: '0',
 746199: '0',
 746561: '0',
 746673: '0',
 749589: '0',
 749882: '0',
 759265: '0',
 760046: '0',
 760726: '0',
 762717: '0',
 765475: '0',
 769445: '141006168',
 771564: '0',
 772599: '0',
 783093: '0',
 793453: '0',
 797978: '0',
 798888: '0',
 801940: '0',
 803386: '0',
 804140: '0',
 811795: '0',
 817166: '0',
 823357: '188942105',
 827522: '0',
 833820: '0',
 834490: '0',
 834608: '0',
 835520: '0',
 842957: '0',
 849371: '0',
 854434: '0',
 866481: '0',
 868933: '0',
 869267: '0',
 872932: '0',
 874959: '0',
 875520: '0',
 883177: '0',
 888041: '0',
 898958: '0',
 899636: '0',
 902313: '0',
 902498: '0',
 904272: '0',
 908984: '0',
 913300: '0',
 920716: '0',
 934866: '0',
 937861: '0',
 937944: '0',
 938187: '0',
 938492: '0',
 939904: '0',
 947259: '0',
 947868: '0',
 950097: '0',
 951842: '0',
 955597: '0',
 955920: '0',
 963871: '0',
 966677: '0',
 972252: '0',
 984546: '0',
 986631: '0',
 995539: '0',
 998058: '0',
 998073: '0',
 1005535: '0',
 1007013: '0',
 1011192: '0',
 1012462: '0',
 1014668: '0',
 1016583: '0',
 1017401: '0',
 1022508: '0',
 1024917: '0',
 1025447: '0',
 1026511: '0',
 1026827: '0',
 1026881: '0',
 1028620: '0',
 1039969: '0',
 1041321: '0',
 1048115: '0',
 1058775: '0',
 1072485: '0',
 1077284: '0',
 1078779: '0',
 1078921: '0',
 1079456: '0',
 1096444: '0',
 1102464: '0',
 1109238: '0',
 1115079: '0',
 1122108: '0',
 1134916: '0',
 1137365: '0',
 1141231: '0',
 1143708: '0',
 1144371: '0',
 1166790: '0',
 1169758: '0',
 1175477: '122277324',
 1180050: '0',
 1189349: '0',
 1209915: '0',
 1216922: '0',
 1224830: '0',
 1232454: '0',
 1257229: '0',
 1262816: '0',
 1268545: '0',
 1273443: '0',
 1274125: '0',
 1275270: '0',
 1277540: '0',
 1277997: '0',
 1291172: '0',
 1302757: '0',
 1314258: '0',
 1322161: '0',
 1326464: '0',
 1329746: '0',
 1335777: '0',
 1335883: '0',
 1337416: '0',
 1340138: '0',
 1346065: '0',
 1346718: '0',
 1350076: '0',
 1352672: '0',
 1359118: '0',
 1361363: '0',
 1368968: '0',
 1401267: '0',
 1418347: '0',
 1484480: '0',
 1491393: '0',
 1530160: '0',
 1531646: '0',
 1532569: '181408876',
 1548241: '0',
 1588225: '0',
 1594704: '0',
 1628939: '0',
 1645901: '0',
 1675201: '0',
 1679835: '0',
 1702198: '0',
 1709492: '0',
 1721658: '0',
 1731866: '0',
 1746211: '0',
 1748316: '0',
 1751207: '0',
 1769010: '0',
 1770728: '0',
 1791624: '0',
 1806841: '0',
 1808491: '0',
 1808698: '0',
 1819043: '0',
 1835044: '0',
 1869964: '0',
 1872127: '0',
 1882062: '0',
 1889215: '0',
 1898080: '0',
 1907491: '0',
 1953858: '0',
 1987325: '0',
 2008208: '0',
 2012776: '0',
 2013687: '0',
 2015845: '0',
 2025233: '0',
 2044873: '0',
 2051980: '0',
 2069022: '0',
 2101885: '0',
 2102641: '0',
 2135844: '0',
 2151644: '0',
 2153811: '0',
 2178513: '0',
 2196388: '0',
 2201417: '0',
 2228395: '0',
 2230180: '0',
 2239717: '0',
 2251540: '0',
 2269893: '0',
 2290005: '0',
 2300450: '0',
 2325957: '0',
 2333620: '0',
 2358993: '0',
 2364906: '0',
 2395380: '0',
 2424794: '0',
 2445250: '0',
 2459889: '0',
 2472928: '0',
 2489934: '0',
 2495251: '0',
 2497643: '0',
 2507411: '0',
 2512778: '0',
 2529469: '0',
 2530899: '0',
 2540043: '0',
 2561928: '0',
 2564252: '0',
 2564800: '0',
 2581950: '0',
 2583380: '0',
 2601733: '0',
 2618792: '0',
 2622447: '0',
 2625195: '0',
 2626271: '0',
 2626302: '0',
 2628503: '0',
 2630438: '0',
 2652706: '0',
 2679511: '0',
 2702956: '0',
 2715741: '0',
 2717223: '0',
 2721042: '0',
 2722850: '0',
 2728464: '0',
 2730790: '0',
 2735969: '0',
 2746342: '0',
 2766033: '0',
 2767461: '0',
 2772094: '0',
 2776404: '0',
 2801370: '0',
 2805293: '0',
 2810065: '0',
 2816592: '0',
 2817706: '0',
 2831130: '15053804',
 2839504: '0',
 2847170: '0',
 2855791: '0',
 2856708: '123959597',
 2859407: '0',
 2875608: '0',
 2878244: '0',
 2888566: '0',
 2889150: '0',
 2892341: '0',
 2892770: '0',
 2897539: '0',
 2900254: '0',
 2900286: '0',
 2901547: '0',
 2906688: '0',
 2907675: '0',
 2951855: '0',
 2955728: '0',
 2969020: '0',
 2987517: '0',
 3006288: '0',
 3010290: '0',
 3020303: '0',
 3038185: '0',
 3072381: '0',
 3089127: '0',
 3090157: '0',
 3096318: '0',
 3110359: '0',
 3114397: '0',
 3123082: '0',
 3124091: '214568881',
 3136023: '0',
 3160808: '0',
 3215227: '0',
 3257601: '0',
 3269175: '0',
 3272555: '0',
 3285661: '0',
 3300935: '0',
 3315899: '0',
 3318265: '0',
 3320130: '0',
 3341030: '0',
 3371187: '0',
 3407349: '0',
 3417090: '0',
 3421740: '0',
 3423589: '0',
 3437114: '0',
 3457937: '0',
 3461119: '0',
 3464036: '0',
 3481414: '0',
 3485695: '0',
 3494649: '0',
 3536814: '0',
 3553520: '0',
 3558869: '0',
 3564031: '0',
 3566181: '0',
 3570070: '0',
 3570656: '0',
 3575737: '0',
 3589923: '0',
 3589981: '0',
 3592677: '0',
 3599748: '0',
 3602410: '0',
 3612130: '0',
 3616239: '0',
 3616492: '0',
 3623477: '0',
 3664065: '0',
 3667582: '0',
 3670814: '0',
 3678201: '0',
 3678731: '0',
 3682508: '0',
 3687627: '0',
 3698332: '0',
 3701311: '80690628',
 3711886: '0',
 3736328: '0',
 3740215: '0',
 3766455: '0',
 3861712: '0',
 3890606: '0',
 3894972: '0',
 3902055: '0',
 3904961: '0',
 3923092: '0',
 3925613: '0',
 3937614: '0',
 3959595: '0',
 3966161: '0',
 3983267: '0',
 4042890: '0',
 4043412: '0',
 4115305: '0',
 4147463: '0',
 4148913: '0',
 4149345: '212325226',
 4150174: '0',
 4150275: '0',
 4156256: '0',
 4185198: '0',
 4196554: '0',
 4196887: '0',
 4198341: '0',
 4206162: '0',
 4207629: '0',
 4265514: '0',
 4280304: '0',
 4293915: '0',
 4298920: '0',
 4300050: '0',
 4302221: '0',
 4303896: '0',
 4303950: '0',
 4315378: '0',
 4316083: '0',
 4323502: '0',
 4355915: '0',
 4365121: '0',
 4366353: '0',
 4367107: '0',
 4367211: '0',
 4377585: '0',
 4381617: '0',
 4387874: '0',
 4393810: '0',
 4396874: '0',
 4411703: '0',
 4429941: '0',
 4456733: '0',
 4477130: '0',
 4478926: '0',
 4498082: '0',
 4498522: '0',
 4520916: '0',
 4523728: '0',
 4563580: '0',
 4570022: '0',
 4570538: '0',
 4575356: '0',
 4597748: '0',
 4632632: '0',
 4658480: '0',
 4669871: '0',
 4677604: '0',
 4685102: '0',
 4686066: '0',
 4706969: '0',
 4713802: '0',
 4732331: '0',
 4785751: '0',
 4795038: '0',
 4798788: '0',
 4854168: '0',
 4856194: '0',
 4857576: '0',
 4862751: '0',
 4867543: '0',
 4878652: '0',
 4886234: '0',
 4888564: '143847348',
 4918745: '0',
 4923879: '0',
 4937640: '0',
 4946603: '0',
 4946827: '0',
 4967809: '0',
 4968899: '0',
 4970716: '0',
 4975347: '0',
 4986423: '0',
 5007785: '0',
 5013172: '0',
 5030008: '0',
 5033989: '0',
 5084475: '0',
 5117820: '0',
 5123728: '0',
 5135753: '0',
 5161037: '0',
 5179395: '0',
 5185128: '0',
 5255815: '0',
 5263836: '0',
 5283695: '0',
 5288145: '0',
 5295192: '0',
 5329909: '0',
 5354812: '0',
 5358347: '0',
 5359628: '0',
 5427594: '0',
 5506854: '0',
 5514171: '0',
 5525470: '0',
 5526137: '0',
 5564068: '0',
 5576311: '0',
 5585733: '0',
 5595928: '0',
 5609059: '0',
 5649019: '0',
 5651988: '0',
 5652214: '0',
 5654922: '0',
 5696946: '0',
 5739726: '0',
 5765599: '0',
 5806212: '0',
 5807178: '0',
 5808593: '0',
 5857452: '0',
 5859677: '0',
 5859784: '0',
 5873204: '0',
 5892167: '0',
 5914175: '0',
 5920125: '0',
 5923104: '0',
 5955580: '0',
 6018503: '0',
 6036048: '0',
 6042309: '0',
 6043702: '0',
 6045602: '0',
 6072241: '0',
 6075856: '0',
 6078026: '0',
 6094984: '0',
 6116640: '0',
 6119894: '0',
 6123613: '0',
 6152198: '0',
 6219017: '0',
 6246308: '0',
 6259078: '0',
 6275128: '0',
 6285560: '0',
 6307268: '0',
 6314299: '0',
 6360366: '0',
 6372119: '0',
 6378187: '0',
 6379564: '0',
 6396861: '0',
 6404827: '0',
 6406511: '0',
 6439447: '0',
 6460720: '0',
 6492885: '0',
 6523899: '0',
 6533052: '0',
 6544825: '0',
 6549582: '0',
 6601282: '0',
 6653515: '0',
 6655048: '0',
 6707806: '0',
 6738897: '0',
 6750463: '0',
 6757784: '0',
 6764832: '0',
 6765647: '740844',
 6778676: '0',
 6831578: '0',
 6849297: '0',
 6849924: '0',
 6853576: '0',
 6859066: '0',
 6865686: '0',
 6878340: '0',
 6890811: '0',
 6904196: '0',
 6930713: '0',
 6932660: '0',
 6938432: '0',
 6940844: '0',
 7037926: '0',
 7086363: '0',
 7166715: '0',
 7190564: '0',
 7197375: '0',
 7197700: '0',
 7210890: '0',
 7245380: '0',
 7245523: '0',
 7250357: '0',
 7272171: '0',
 7303211: '0',
 7303570: '0',
 7333722: '0',
 7341551: '0',
 7343338: '0',
 7365459: '0',
 7368228: '0',
 7388858: '0',
 7396195: '0',
 7404037: '0',
 7409977: '0',
 7424189: '0',
 7450683: '0',
 7495069: '0',
 7507082: '0',
 7524004: '0',
 7529642: '0',
 7536131: '0',
 7536903: '0',
 7548342: '0',
 7549378: '0',
 7555185: '0',
 7555587: '0',
 7568892: '0',
 7595687: '0',
 7599518: '0',
 7600283: '0',
 7603815: '0',
 7610832: '0',
 7617096: '0',
 7644857: '0',
 7649086: '0',
 7733457: '0',
 7764909: '0',
 7767401: '0',
 7767831: '0',
 7770291: '0',
 7792923: '0',
 7820973: '0',
 7823037: '0',
 7830114: '0',
 7831312: '0',
 7831416: '0',
 7835467: '0',
 7837026: '0',
 7837555: '0',
 7848700: '0',
 7870870: '0',
 7873834: '0',
 7876349: '0',
 7892231: '0',
 7924399: '0',
 7924947: '0',
 7950607: '0',
 7966542: '0',
 7975018: '0',
 7985925: '0',
 8015682: '0',
 8019790: '0',
 8043008: '0',
 8051258: '0',
 8076673: '0',
 8078078: '0',
 8078473: '0',
 8090602: '0',
 8092866: '0',
 8121841: '0',
 8145849: '0',
 8152883: '0',
 8167351: '0',
 8221441: '0',
 8223757: '0',
 8255220: '0',
 8263559: '0',
 8275177: '0',
 8289407: '0',
 8296791: '0',
 8296887: '0',
 8321957: '0',
 8328807: '0',
 8337481: '0',
 8360517: '0',
 8362239: '0',
 8366918: '0',
 8368571: '0',
 8388978: '0',
 8422673: '0',
 8442540: '0',
 8453612: '0',
 8463086: '0',
 8463087: '0',
 8510293: '0',
 8527682: '0',
 8528033: '0',
 8528955: '0',
 8535926: '0',
 8562362: '0',
 8566282: '556867',
 8570024: '0',
 8573568: '0',
 8594509: '0',
 8605274: '0',
 8648178: '0',
 8697783: '0',
 8715449: '9753706',
 8719863: '0',
 8722247: '0',
 8745774: '0',
 8758683: '0',
 8763452: '0',
 8777361: '0',
 8781351: '0',
 8801197: '0',
 8808060: '0',
 8809291: '0',
 8834373: '0',
 8834405: '0',
 8835473: '0',
 8840787: '0',
 8858742: '0',
 8926646: '0',
 8926805: '0',
 8930674: '0',
 8938372: '0',
 8938654: '0',
 8966656: '0',
 8971552: '0',
 8987560: '0',
 8996761: '215382704',
 8997794: '0',
 9004534: '0',
 9017164: '0',
 9017285: '0',
 9020733: '0',
 9026758: '0',
 9027162: '0',
 9029100: '0',
 9038843: '0',
 ...}

Now that we have the dictionary, we can simply create a final dataframe!

In [9]:
# Replicate from train dataframe but just take unique shopids
final = pd.DataFrame({'shopid': train['shopid'].unique()})
final["userid"] = '0'

# Transfer all the data from final_dict
for i in range(len(final)):
  final.loc[i,"userid"] = final_dict[final.loc[i,"shopid"]]

final

          shopid   userid
0        6042309        0
1      104804492        0
2        8715449  9753706
3      190969466        0
4        2859407        0
...          ...      ...
18765  173249173        0
18766  212058195        0
18767     577768        0
18768  162561288        0
18769  203090989        0

[18770 rows x 2 columns]

And there we go! We have produced the final output

In [10]:
final.to_csv('submission.csv', index=False)